fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-dotenv
pydantic
pydantic-settings==2.2.1
python-multipart==0.0.9
supabase
pydantic[email]
